src/main/mule/mule-demo-cicd2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3b91e51a-86f6-4c08-8a9a-244d947be73a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-demo-cicd2Flow" doc:id="4f3e5b77-60ce-4952-b1c9-42a5114fa499" >
		<http:listener doc:name="Listener" doc:id="8d15b622-577a-4f4e-8403-67bdfcda4bdd" config-ref="HTTP_Listener_config" path="/mule-demo-cicd2"/>
		<set-payload value='#["CICD Test"]' doc:name="Set Payload" doc:id="d1a7a837-fb52-4171-88c4-8737e67f5206" />
	</flow>
</mule>
